{% extends 'base.html' %}
{% block title %}Pizza Corner{% endblock %}

{% block content %}
<div class="container my-5 text-center">
        <h1 class="display-4">About Us</h1>
        <hr class="my-4">
        <div class="container my-4 text-left">
                <p>Pizza Corner is the newest sensation in Sri Lanka’s culinary scene, bringing the joy of delicious, freshly baked pizzas to pizza lovers across the country. Established with the vision of providing a diverse range of flavorful pizzas and beverages, Pizza Corner is proud to be your go-to destination for an unforgettable dining experience.</p>
                <h4 class="text-secondary mb-4">Our Story</h4>
                <p>Pizza Corner was born out of a passion for great food and a love for bringing people together. While our journey has just begun, our commitment to quality, taste, and customer satisfaction sets us apart. Located in Colombo, which is the major city of Sri Lanka, Pizza Corner has quickly become a favorite spot for families, friends, and pizza enthusiasts who crave an extraordinary dining experience.</p>

                <h4 class="text-secondary mb-4r">What We Offer</h4>
                <p>At Pizza Corner, we believe in catering to every palate. Our menu boasts a wide array of pizzas, including both vegetarian and non-vegetarian options. From classic Margheritas and spicy Paneer Tikka to hearty Pepperoni and succulent BBQ Chicken, we’ve crafted a range of flavors to suit everyone.</p>
                <p>But the excitement doesn’t end there! Our customers can customize their pizzas with an array of extra toppings, ensuring every bite is exactly how they love it. Whether it’s extra cheese, crunchy bell peppers, or juicy mushrooms, we’ve got something for everyone.</p>
                <p>Pair your pizza with our diverse selection of beverages, ranging from classic soft drinks to refreshing fruit juices and specialty mocktails. At Pizza Corner, we strive to complement our dishes with the perfect drink to elevate your dining experience.</p>

                <h4 class="text-secondary mb-4">Our Mission</h4>
                <p>Pizza Corner’s mission is simple: to delight our customers with exceptional food, excellent service, and a warm, welcoming environment. We are committed to using only the freshest ingredients, ensuring every dish we serve is bursting with flavor and crafted to perfection.</p>
        </div>
        <p class="lead">Visit Pizza Corner today and let us delight your senses with the ultimate pizza experience!</p>
</div>

{% endblock %}






















