{% extends 'base.html' %}
{% block title %}Pizza Corner{% endblock %}

{% block content %}
<div class="container my-5 text-center">
        <h1 class="display-4">🍕 Welcome to Pizza Corner 🍕</h1>
        <p class="lead">Want to experience the most delicious Pizzas!</p>
        <hr class="my-4">
        <p>You've found the right place! Check out the menu and order your favourite item!!!</p>
        <a class="btn btn-warning btn-lg" href="{{ url_for('add_site') }}" role="button">Order Now</a>
</div>

{% endblock %}












